@import "variables";

.ant-layout-content {
  background-color: #f0f2f5;
  min-height: 1 !important;
}

Header.header {
  position: "fixed";
  z-index: 1;
  width: "100%";
  background: white !important;
  font-weight: bold;
  color: @secondary-color;
  font-size: 1.5rem;
  box-shadow: 0 3px 6px rgba(79, 43, 121, 0.37);
}

.site-layout {
  padding: "0 80px";
  margin-top: 60px;
}
.site-layout-background {
  padding: 24px;
  min-height: 530px;
}
